@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Anton', sans-serif;
  color: #d0caca;  
  background: #161c22;
}

.main-container {
  min-height: 100vh;
  margin: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;



  .section-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 30vh;    
    border-bottom: 2px solid gray;

    .intro {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      flex-direction: column;

      h1 {
        padding: 1rem;
        width: 30vw;
        overflow-wrap: break-word;
        text-wrap: wrap;

        span {
          color: #2ed081;
          text-transform: uppercase;
        }
      }


      img {
        width: 9rem;
        height: 9rem  ;
        border-radius: 50%;
      }
    }

    .soc-med {
      display: flex;
      gap: 2rem;
      font-size: 3rem;
    }
  }

  .projects-container {
    gap: 2rem;
    height: 50vh;

    h1 {
      font-size: 4rem;
      text-transform: uppercase;
      letter-spacing: 1rem;
      color: #2ed081;
      padding: 2rem;
    }

    .cards {
      
      display: flex;
      justify-content: space-around;
      align-items: center;


      

      .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2.3rem;
        align-items: center;
        width: 15vw;
        height: 30vh;
        background: #323233;
        border-radius: 10px;
        overflow: hidden;
  
        img {
          width: 100%;
          max-height: 220px;
          aspect-ratio: 16/9;
          object-fit: cover;
          object-position: center;
        }
  
        .details {
          position: relative;
          width: 10vw;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start  ;
          gap: 1.2rem;
          bottom: 3%;
  
          h2 {
            font-size: 1.8rem;
            color: #2ed081;
          }
  
          p {
            font-size: .8rem;
            text-wrap: wrap;
          }

          .bx-link-external {
            position: absolute;
            right: 0;
            bottom: 0;
            font-size: 1.5rem;
            color: #359b71;
            cursor: pointer;
          }
          
          
        }
      }      
    }
  }

  .skills-container {
    height: 40vh;

    h1 {
      font-size: 3rem;
      color: #2ed081;
      padding: 2rem;
    }

    .content {
      display: grid;
      grid-auto-flow: column;
      place-items: center;
      position: relative;
      top: 15%;

      .content-item {
        place-content: center;

        .fa-brands,.fa-solid {
          font-size: 6rem;
          color: #359b71;
        }

        h2 {
          padding: 0;
          font-size: 2.5rem;
          color: #d8bd22;
        }
      }
    }

    
  }
}

footer {
  position: relative;
  background-color: #323233;
  bottom: 0;
  height: 5vh;

  h2 {
    position: absolute;
    left: 40%;
    top: 30%;
    color: #d8bd22;
    letter-spacing: 1rem;
  }


  h3 {
    position: absolute;
    left: 3%;
    top: 8%;
    letter-spacing: .3rem;
    font-family: 'Poppins';
    font-size: 1.2rem;
    color: #2ed081;
  }
  
  h4 {
    position: absolute;
    left: 3%;    
    bottom: 3%;
    letter-spacing: .3rem;
    font-family: 'Poppins';
    font-size: 1.2rem;
    color: #2ed081;
  }

  ul {
    list-style: none;
    position: absolute;
    right: 3%;
    bottom: 5%;
    letter-spacing: 3rem;

    li {
      display: inline-block;
      font-size: 2rem;
      color: #2ed081;
    }
  }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .main-container { 
    display: flex;
    flex-direction: column;


    .section-container {
      overflow: hidden;  


      .intro {
        width: 50vw;
        transform: translateY(-20%);
        transform: translateX(-20%);

        h1 {
          font-size: 1rem;
        }

        img {
          width: 8rem;
          height: 8rem;
          transform: translateY(8%);
        }
      }

      .soc-med{
        
        border: 1px solid gray;
      }

      
    }

    .projects-container {


      h1 {
        font-size: 3rem;
        text-transform: uppercase;
        letter-spacing: .5rem;
        color: #2ed081;
        padding: 2rem;
      }
  
      .cards {
        display: flex;
        justify-content: space-around;
        align-items: center;
  
        .card {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 1rem;
          align-items: center;
          width: 25vw;
          height: 30vh;
          background: #323233;
          border-radius: 10px;
          overflow: hidden;
    
          img {
            width: 100%;
            max-height: 220px;
            aspect-ratio: 16/9;
            object-fit: cover;
            object-position: center;
            transform: translateY(-40%);
          }
    
          .details {
            position: relative;
            width: 10vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start  ;
            gap: 1.2rem;
            right: 20%;
            bottom: 3%;
    
            h2 {
              font-size: 1rem;
              color: #2ed081;
            }
    
            p {
              width: 20vw;
              font-size: .8rem;
              text-wrap: wrap;
            }
  
            .bx-link-external {
              position: absolute;
              right: -100%;
              bottom: -25%;
              font-size: 1.5rem;
              color: #359b71;
              cursor: pointer;
            }
            
            
          }
        }      
      }
    }

    .skills-container {
      height: 40vh;

      h1 {
        font-size: 3rem;
        color: #2ed081;
        padding: 2rem;
      }

      .content {
        display: grid;
        grid-auto-flow: column;
        place-items: center;
        position: relative;
        top: 15%;

        .content-item {
          place-content: center;

          .fa-brands,.fa-solid {
            font-size: 3rem;
            color: #359b71;
          }

          h2 {
            padding: 0;
            font-size: 1.3rem;
            color: #d8bd22;
          }
        }
      }
    }
  }

  footer {
    position: relative;
    background-color: #323233;
    bottom: 0;
    height: 5vh;
  
    h2 {
      display: none;
    }
  
  
    h3 {
      position: absolute;
      left: 3%;
      top: 8%;
      letter-spacing: .3rem;
      font-family: 'Poppins';
      font-size: 1rem;
      color: #2ed081;
    }
    
    h4 {
      position: absolute;
      left: 3%;    
      bottom: 3%;
      letter-spacing: .3rem;
      font-family: 'Poppins';
      font-size: 1rem;
      color: #2ed081;
    }
  
    ul {
      list-style: none;
      position: absolute;
      right: 3%;
      bottom: 5%;
      letter-spacing: 3rem;
  
      li {
        display: inline-block;
        font-size: 2rem;
        color: #2ed081;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .main-container { 
    display: flex;
    flex-direction: column;
    width: 125vw;


    .section-container {


      .intro {
        width: 50vw;
        transform: translateY(-20%);
        transform: translateX(-10%);

        h1 {
          width: 50vw;
          font-size: .5rem;
        }

        img {
          width: 8rem;
          height: 8rem;
        }
      }

      
      .soc-med {
        font-size: 1.5rem;
      }
    }

    .projects-container {


      h1 {
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: .3rem;
        color: #2ed081;
        padding: 2rem;
      }
  
      .cards {
        display: flex;
        justify-content: space-around;
        align-items: center;
  
        .card {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 1rem;
          align-items: center;
          width: 32vw;
          height: 30vh;
          background: #323233;
          border-radius: 10px;
          overflow: hidden;
    
          img {
            width: 100%;
            max-height: 220px;
            aspect-ratio: 16/9;
            object-fit: cover;
            object-position: center;
            transform: translateY(-40%);
          }
    
          .details {
            position: relative;
            width: 10vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start  ;
            gap: 1.2rem;
            right: 20%;
            bottom: 3%;
    
            h2 {
              font-size: 1rem;
              letter-spacing: .3rem;
              color: #2ed081;
            }
    
            p {
              width: 20vw;
              font-size: .4rem;
              text-wrap: wrap;
            }
  
            .bx-link-external {
              position: absolute;
              right: -100%;
              bottom: -25%;
              font-size: 1.5rem;
              color: #359b71;
              cursor: pointer;
            }
            
            
          }
        }      
      }
    }

    .skills-container {
      height: 40vh;

      h1 {
        font-size: 2rem;
        color: #2ed081;
        padding: 2rem;
      }

      .content {
        width: 110vw;
        display: grid;
        grid-auto-flow: column;
        place-items: center;
        position: relative;
        top: 15%;
        overflow-x: scroll;
        gap: 1rem;

        .content-item {
          place-content: center;

          .fa-brands,.fa-solid {
            font-size: 4rem;
            color: #d8bd22;
          }

          h2 {
            display: none;
            padding: 0;
            font-size: 1.3rem;
            color: #d8bd22;
          }
        }
      }
    }
  }

  footer {
    position: relative;
    background-color: #323233;
    bottom: 0;
    height: 5vh;
    width: 132.5vw;
  
    h2 {
      display: none;
    }
  
  
    h3 {
      position: absolute;
      left: 3%;
      top: 8%;
      letter-spacing: .3rem;
      font-family: 'Poppins';
      font-size: 1rem;
      color: #2ed081;
    }
    
    h4 {
      position: absolute;
      left: 3%;    
      bottom: 3%;
      letter-spacing: .3rem;
      font-family: 'Poppins';
      font-size: 1rem;
      color: #2ed081;
    }
  
    ul {
      list-style: none;
      position: absolute;
      right: 0%;
      bottom: 5%;
      letter-spacing: 3rem;
  
      li {
        display: inline-block;
        font-size: 2rem;
        color: #2ed081;
      }
    }
  }

}